.about {
  background: linear-gradient(to bottom, #6cbcf8, #0057a5);
  color: #fff;
}

.about .heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about .container {
  display: flex;
  flex-wrap: wrap;
}

.about .container .image,
.about .container .content {
  flex: 1 1 35%;
}

.about .container .image {
  text-align: center;
}

.about .container .image img {
  margin: 4rem auto;
  width: 30rem;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}

.about .container .content {
  flex: 1 1 45rem;
  padding: 3rem;
}

.about .container .content h2,
.about .container .content h3,
.about .container .content h4,
.about .container .content p {
  text-align: left;
  margin-left: 1rem;
}

.about .container .content h2 {
  font-size: 2.8rem;
  padding-top: 1.5rem;
}

.about .container .content h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.about .container .content h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.about .container .content p {
  font-size: 1.3rem;
}

@media screen and (max-width: 600px) {
  .about .container {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }

  .about .container .image {
    margin-top: 2rem;
  }

  .about .container .image img {
    margin: 0 auto;
    width: 80%;
  }

  .about .container .content {
    padding: 1rem;
  }
}
