.education {
  background: linear-gradient(to bottom, #6cbcf8, #0057a5);
  color: #fff;
}

.education .heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.education .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.education .container {
  position: relative;
  width: 50%;
}

.education .left {
  left: 0;
}

.education .right {
  left: 50%;
}

.education .content {
  background-color: #f89e6c;
  border-radius: 6px;
  padding: 1rem 1.5rem;
  position: relative;
}

.education .content .tag h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.education .content .desc h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.education .content .desc p {
  font-size: 1.2rem;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .education .timeline::after {
    left: 31px;
  }

  .education .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    left: 0 !important;
    margin-bottom: 1.5rem;
  }

  .education .right {
    left: 0;
  }
}
