/* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  background: #02094b;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .round-btn-icon a {
  color: #02094b;
  background: #e5ecfb;
}
.footer .round-btn-icon a:active,
.footer .round-btn-icon a:focus,
.footer .round-btn-icon a:hover {
    background: transparent;
    border: 0.1rem solid rgb(180, 178, 178);
    color: #ffae00;
}
@media (max-width: 450px) {
  .footer .box-container .box {
    margin: 1.5rem;
  }
  .footer .box-container .box p {
    padding: 0.7rem;
  }
}
/* footer section ends */