header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 87, 165, 0.6);
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  padding: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 2.5rem;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
  padding-bottom: 0.2rem;
}

.navbar a.active,
.navbar a:hover {
  color: #0057a5;
  border-bottom: 0.2rem solid #0057a5;
}

#menu {
  display: none;
}

@media (max-width: 768px) {
  header {
    display: none;
  }
}
