/* home section starts */
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  padding-top: 6.5rem;;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home .image img {
  width: 60%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.home .content h3 {
  font-size: 5rem;
  font-weight: 800;
  color: #0057a5;
}
.home .content h3 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ff7b00;
}
.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 2.5rem;
      color: rgb(148, 8, 8);
  font-weight: 600;
  padding: 1rem 0;
}
.home .btn {
  line-height: 4;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #0057a5;
  box-shadow: 0px 5px 18px rgba(0, 87, 165, 0.6);
}
.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.6s;
}
.home .btn:hover {
  background: #02437d;
}
.home .btn:hover i {
  transform: rotateX(180deg) translateX(5px);
}

/* home media queries starts */
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
    text-align: start;
  }
  .round-btn {
    margin-top: 2rem;
  }
  .home .content p {
    font-size: 2.2rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
}

@media (max-width: 780px) {
  .home {
    text-align: center;
  }

  .home .image img {
    width: 55%;
    margin-top: 1rem;
    margin-left: -1rem;
  }
}
/* home media queries ends */
/* home section end */