.effect-zoe:hover figcaption, 
.effect-zoe:hover h2, 
.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.effect-zoe h2 {
	display: inline-block;
}
.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: rgba(0,0,0,0.75);
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.grid  figcaption, .grid  figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid  figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid .effect-zoe {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
}
.effect-zoe p.icon-links a i {
	display: inline-block;
	padding: 30px 10px;
	color: white;
	font-size: 22px;
}
.project-name {
	color: white;
}