.projects {
  background: #e4f4ff;
  color: #0057a5;
}

.projects .heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin: 2rem;
}

.projects .box {
  height: 25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  background: #fff;
}

.projects .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects .box .content {
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  transition: top 0.3s ease;
}

.projects .box:hover:not(.no-hover) .content {
  top: 25%;
}

.projects .box .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 100%;
  padding-left: 0.5rem;
  background: #e4f4ff;
  color: #0057a5;
}

.projects .box .tag h3 {
  font-size: 1.6rem;
  margin: 0;
}

.projects .desc {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects .desc p {
  font-size: 1.3rem;
}

.projects .btns {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.projects .btns .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  color: #fff;
  background: #0057a5;
  text-decoration: none;
  transition: background 0.2s ease;
}

.projects .btns .btn:hover {
  background: #02437d;
}

.projects .box.no-hover {
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .projects .box-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }
  .projects .box {
    height: 20rem;
  }
}
