.skills {
  background: #e4f4ff;
  color: #0057a5;
}

.skills .heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.skills .container {
  background: #0057a5;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
}

.skills .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 0 4%;
  margin-top: 2%;
}

.skills .col {
  width: 100%;
  margin-top: 0.5rem;
  color: #f89e6c;
}

.bar {
  background: #e4f4ff;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 15px;
  transition: 0.2s;
}

.bar:hover {
  transform: translateX(12px);
  box-shadow: 0 5px 8px rgba(0, 2, 68, 0.4);
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.bar-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
  color: #0057a5;
}

.line {
  width: 100%;
  height: 3px;
  background: #d4d3d3;
  border-radius: 6px;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0057a5;
  border-radius: 4px;
}

.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-list li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.skill-list i {
  font-size: 2rem;
  margin-right: 10px;
  color: #0057a5;
  width: 30px;
  text-align: center;
}

.skill-list span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #0057a5;
}

@media screen and (max-width: 600px) {
  .skills .container {
    padding: 0;
    margin: 0;
  }

  .skills .row {
    grid-template-columns: 1fr;
    padding: 1rem;
    padding-top: 2rem;
  }

  .col {
    width: 100%;
    margin-top: 5px;
  }

  .bar {
    padding: 10px;
    margin-bottom: 10px;
  }

  .line {
    height: 0.8rem;
  }
}
